:root {
  // default theme color
  // can be overrided by uses `themeConfig` option
  --slidev-theme-primary: #abcbca;
  --slidev-theme-secondary: #34d399;
}

/* general css here */

html:not(.dark) {
  /* light mode css here */
  @apply text-primary;
}

html.dark {
  /* dark mode css here */
  @apply text-white;

  h1 {
    @apply text-secondary;
  }
}

.slidev-layout {
  @apply relative h-full grid;

  h1 {
    @apply mb-8;
  }

  ul.emoji-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 1rem;
      text-indent: -0.7rem;
    }

    li::before {
      content: '🐧 ';
    }
  }
}

div.demo-container {
  padding-left: 10%;
  padding-right: 10%;
}

svg.demo-svg {
  width: 300px;
}



@keyframes move {
  100% {
    transform: translate3d(0, 0, 10px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #37495b;
  overflow: hidden;
}

.background span {
  width: 6vmin;
  height: 6vmin;
  border-radius: 6vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 15;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #798b79;
  top: 43%;
  left: 61%;
  animation-duration: 42s;
  animation-delay: -35s;
  transform-origin: 20vw -3vh;
  box-shadow: 26vmin 0 4.240864332035349vmin currentColor;
}
.background span:nth-child(1) {
  color: #798b79;
  top: 15%;
  left: 9%;
  animation-duration: 49s;
  animation-delay: -7s;
  transform-origin: 25vw 21vh;
  box-shadow: -26vmin 0 3.5346833844227388vmin currentColor;
}
.background span:nth-child(2) {
  color: #426f6a;
  top: 40%;
  left: 5%;
  animation-duration: 53s;
  animation-delay: -4s;
  transform-origin: 4vw -1vh;
  box-shadow: -26vmin 0 3.6407130369871004vmin currentColor;
}
.background span:nth-child(3) {
  color: #798b79;
  top: 64%;
  left: 29%;
  animation-duration: 10s;
  animation-delay: -2s;
  transform-origin: -19vw -2vh;
  box-shadow: -26vmin 0 4.033018428420929vmin currentColor;
}
.background span:nth-child(4) {
  color: #426f6a;
  top: 42%;
  left: 100%;
  animation-duration: 12s;
  animation-delay: -7s;
  transform-origin: -16vw -14vh;
  box-shadow: 26vmin 0 3.9086947077707235vmin currentColor;
}
.background span:nth-child(5) {
  color: #426f6a;
  top: 15%;
  left: 69%;
  animation-duration: 39s;
  animation-delay: -30s;
  transform-origin: -15vw -24vh;
  box-shadow: 26vmin 0 3.7711318392218875vmin currentColor;
}
.background span:nth-child(6) {
  color: #426f6a;
  top: 67%;
  left: 32%;
  animation-duration: 8s;
  animation-delay: -47s;
  transform-origin: -22vw -3vh;
  box-shadow: 26vmin 0 4.182789151774853vmin currentColor;
}